#modal-content {
    background-color: burlywood;
    text-align: center;
}

#modal-body label {
    display: flex;
    flex-direction: column;
    /* padding-left: 20%;
    padding-right: 20%; */
}

#modal-body *  {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

#modal-body h3 {
    margin-top: 30px;
}
