@import url('https://fonts.googleapis.com/css?family=Akronim|Lato&display=swap');

body {
   	background: burlywood;
    margin: auto;
    max-width: 980px;
    font-size: 1.30rem;
}

:root {
    font-family: 'Lato', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}

@media (min-width: 700px) {
    body nav .up {
        flex-direction:row;
        justify-content: space-around;
    }
    body nav .up li {
        width: auto;
    }

    ul .hide-contacts {
        display: flex;
    }

    .up-contacts {
        display: none;
    }
}

@media (min-width: 450px) {
    div .emty-cart {
        padding: 0 10px 0 0 ;
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    div .emty-cart img {
        width: 35px;
    }

    ul .hide-photo {
        display: flex;
    }

    .emty-cart-menu {
        display: none;
    }

}

header nav {
    margin: 0px;
}

header nav ul {
    margin: 5px;
}

nav .up {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

nav .up a {
    text-decoration: none;
    color: var(--main-color);
    }

.up li {
    padding: 0 10px;
    width: 280px;

}


header div li {
    color: var(--main-color);
    font-size: 1rem;
}

#header .font-other {
    font-family: 'Akronim';
    font-size: 3.5rem
}

.emty-cart {
    display: none;
}

header div ul {
    display: flex;
    flex-direction:column;
    justify-content: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

header div {
    display: flex;
    align-items: center;
}
 
header nav ul li a{
    text-decoration: none;
    color: var(--main-color);
}

header nav ul li {
    list-style: none;
    padding: 0 5px;
}

header nav ul {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px;
    align-items: center;
}

.hide-photo,
.hide-contacts {
    display: none;
}

.emty-cart-menu img {
    width: 35px;
}



#photogallery {
    background-image: url(../img/front.png);
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

#about ul {
    list-style: none;
    padding: 0;
}

#about ul li, #about h2, #about h3, #about ul button {
    text-align: center;
}

#about ul li img {
    width: 100%;
    padding: 10px 0px 0px;
}


#about a {
    color: blue;
}
