@import url('https://fonts.googleapis.com/css?family=Akronim|Lato&display=swap');

body {
 	background: burlywood;
    margin: auto;
    max-width: 980px;
    font-size: 1.35rem;
}

:root {
    font-family: 'Lato', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}

body nav .up {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-decoration: none;
}

body nav .up a {
    text-decoration: none;
    color: var(--main-color);
    }

body nav .up li {
    padding: 0 10px;
}

@media (min-width: 550px) {
    body nav .up {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

#header .font-other {
    font-family: 'Akronim';
    font-size: 3.5rem
}

header div ul {
    display: flex;
    flex-direction:column;
    justify-content: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    
}
header div li {
    color: var(--main-color);
    font-size: 1rem;
}

header div {
    display: flex;
    text-decoration: none;
    align-items: center;
}
 
header div a{
    text-decoration: none;
}

