@import url('https://fonts.googleapis.com/css?family=Akronim|Lato&display=swap');

.body {
    background: burlywood;
    margin: auto;
    max-width: 980px;
    font-size: 1.15rem;
    line-height: normal;
    font-family: 'Lato', sans-serif;
}

:root {
    font-family: 'Lato', sans-serif;
    --main-color: black;
    scroll-behavior: smooth;
}

@media (min-width: 700px) {
    nav .phones {
        flex-direction:row;
        justify-content: space-around;
    }
    nav .phones li {
        width: auto;
    }

    ul .hide-contacts {
        display: flex;
    }

    .up-contacts {
        display: none;
    }
}

@media (min-width: 450px) {
    div .emty-cart {
        padding: 0 10px 0 0 ;
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    div .emty-cart img {
        width: 35px;
    }

    ul .hide-photo {
        display: flex;
    }

    .emty-cart-menu {
        display: none;
    }

    body #email img {
        width: 100px;
    }    
}

.clock {
    position: static;
}

#email {
    position: fixed;
    padding: 0;
    max-width: 980px;
    z-index: 2;
    right: 20px;
    bottom: 50px;
    background-color: transparent;
    border-color: transparent;
}

#email img {
    width: 70px;
}

.phones {
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phones a {
    text-decoration: none;
    color: var(--main-color);
}

.phones li {
    padding: 0 10px;
    width: 280px;
    box-sizing: content-box;
}


header nav {
    margin: 0px;
    background-color: bisque;
}

header nav ul {
    margin: 5px;
}

header div li {
    color: var(--main-color);
    font-size: 1rem;
}

#header #font-other {
    font-family: 'Akronim';
    font-size: 3.5rem
}

.emty-cart {
    display: none;
}

header div ul {
    display: flex;
    flex-direction:column;
    justify-content: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

header div {
    display: flex;
    align-items: center;
}
 
header nav ul li a{
    text-decoration: none;
    color: var(--main-color);
    padding: 0 5px;   
    border: 1px solid transparent;
}

header nav ul li a:hover {
    border: 1px solid var(--main-color);
    background-color: burlywood;
    text-decoration: none;
    color: var(--main-color);
}

header nav ul li {
    list-style: none;
}

header nav ul {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5px;
    align-items: center;
}

.hide-photo,
.hide-contacts {
    display: none;
}

.emty-cart-menu img {
    width: 30px;
}

.up {
    padding-bottom: 50px;
    padding-top: 50px;

}

.map iframe {
    width: 90%;
    height: 100%;
}

.map {
    display: block;
    text-align: center;
    height: 400px;
}